# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  dockerfilepath: '${Build.SourceDirectory}/Dockerfile'
  dockerRegistryServiceConnection: df6ddb32-1258-464f-b78b-747f97ce221d
  imageRegistry: riddhiazurecontainerregistry.azurecr.io

pool:
  name: Default

stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
        - script: |
            mvnd clean
          displayName: "clean project"
        - task: Maven@4
          inputs:
            azureSubscription: 'Azure subscription 1(df6ddb32-1258-464f-b78b-747f97ce221d)'
            mavenPomFile: 'pom.xml'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            javaHomeOption: 'JDKVersion'
            mavenVersionOption: 'Default'
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false
        - task: Docker@2
          inputs:
            containerRegistry: 'ACR-ServiceConnection'
            repository: '$(imageRegistry)'
            command: 'build'
            Dockerfile: 'Dockerfile'
  - stage: Push
    displayName: Push
    jobs:
      - job: Push
        displayName: Push
        steps:
        - task: Docker@2
          inputs:
            containerRegistry: 'ACR-ServiceConnection'
            repository: '$(imageRegistry)'
            command: 'push'

