# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines

variables:
  - group: FirstProjectVariable
  - name: dockerfilepath
    value: '${Build.SourceDirectory}/Dockerfile'
  - name: imageRegistry
    value: 'myFirstProject'
  

pool:
  name: Default

stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
        - script: |
            mvnd install
          displayName: "install project"
        - script: |
            mvnd clean package
          displayName: "package jar project"
          workingDirectory: '$(Build.SourcesDirectory)'
        # - task: Maven@4
        #   inputs:
        #     azureSubscription: 'Azure subscription 1(df6ddb32-1258-464f-b78b-747f97ce221d)'
        #     mavenPomFile: 'pom.xml'
        #     publishJUnitResults: true
        #     testResultsFiles: '**/surefire-reports/TEST-*.xml'
        #     javaHomeOption: 'JDKVersion'
        #     mavenVersionOption: 'Default'
        #     mavenAuthenticateFeed: false
        #     effectivePomSkip: false
        #     sonarQubeRunAnalysis: false
        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(Build.SourcesDirectory)/target'
            Contents: '*.jar'
            TargetFolder: '$(Build.ArtifactStagingDirectory)'
        - task: Docker@2
          inputs:
            containerRegistry: 'ACR-ServiceConnection'
            repository: '$(imageRegistry)'
            command: 'build'
            Dockerfile: 'Dockerfile'
            buildContext: '.'
  - stage: Push
    displayName: Push
    jobs:
      - job: Push
        displayName: Push
        steps:
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'drop'
            publishLocation: 'Container'
        - task: Docker@2
          inputs:
            containerRegistry: 'ACR-ServiceConnection'
            repository: '$(imageRegistry)'
            command: 'push'      
  - stage: Publish
    displayName: Publish
    jobs:
      - job: Publish
        displayName: Publish
        steps:
        - task: DownloadBuildArtifacts@0
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'drop'
            downloadPath: '$(System.DefaultWorkingDirectory)'
        - task: AzureWebApp@1
          inputs:
            azureSubscription: 'Azure subscription 1(df6ddb32-1258-464f-b78b-747f97ce221d)'
            appType: 'webApp'
            appName: 'RiddhiWebApp'
            deployToSlotOrASE: true
            resourceGroupName: 'NewResourceGroup'
            slotName: 'production'
            package: '$(System.DefaultWorkingDirectory)/target/*.jar'

