trigger:
- azure-pipelines

variables:
  - group: FirstProjectVariable
  - name: dockerfilepath
    value: '${Build.SourceDirectory}/Dockerfile'
  - name: imageRegistry
    value: 'myFirstProject'

pool:
  name: Default

stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
        - script: mvnd install
          displayName: "Install project"
          workingDirectory: '$(Build.SourcesDirectory)'
        - script: mvnd clean package
          displayName: "Package JAR"
          workingDirectory: '$(Build.SourcesDirectory)'
        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(Build.SourcesDirectory)/target'
            Contents: '*.jar'
            TargetFolder: '$(Build.ArtifactStagingDirectory)'
        - script: 
            echo riddhi directory $(Build.ArtifactStagingDirectory)
          displayName: logs
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'drop'
            # publishLocation: 'Container'
        - task: Docker@2
          inputs:
            containerRegistry: 'ACR-ServiceConnection'
            repository: '$(imageRegistry)'
            command: 'build'
            Dockerfile: 'Dockerfile'
            buildContext: '.'
  - stage: Push
    displayName: Push
    jobs:
      - job: Push
        displayName: Push
        steps:
        - task: DownloadBuildArtifacts@1
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'drop'
        #     downloadPath: '$(System.ArtifactsDirectory)'
        # - task: Docker@2
        #   inputs:
        #     containerRegistry: 'ACR-ServiceConnection'
        #     repository: '$(imageRegistry)'
        #     command: 'push'
        - task: AzureWebApp@1
          inputs:
            azureSubscription: 'Azure subscription 1(df6ddb32-1258-464f-b78b-747f97ce221d)'
            appType: 'webApp'
            appName: 'RiddhiWebApp'
            deployToSlotOrASE: true
            resourceGroupName: 'NewResourceGroup'
            slotName: 'staging'
            package: '$(Build.ArtifactStagingDirectory)/drop/*.jar'
  - stage: Publish
    displayName: Publish
    jobs:
      - job: Publish
        displayName: Publish
        steps:
        - script: 
            echo riddhi directory $(System.DefaultWorkingDirectory)
          displayName: logs
        # - task: PublishPipelineArtifact@1
        #   inputs:
        #     targetPath: '$(Build.ArtifactStagingDirectory)' 
        #     artifactName: drop
        
